*, html, body, div, dl, dt, dd, ul, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;font-weight:normal;}
caption, th {text-align:left;}
h1, h2, h3, h5, h5, h6 {font-size:100%;}
q:before, q:after {content:'';}
 
/* Global reset-RESET */
/* The below restores some sensible defaults */
strong {font-weight:bold;}
em {font-style:italic;font-weight:bold;}
ul, li {list-style-position:outside;list-style:none;}
ol li {list-style-position:inside;list-style:decimal;}
* a {position:relative;} /* Gets links displaying over a PNG background */
a {outline:none;} /* Gets rid of Firefox's dotted borders */
a img {border:none;} /* Gets rid of IE's blue borders */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 0px;
display: block;
background-color: transparent;
}
::-webkit-scrollbar-track:disabled {
    display: none;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #666;
-webkit-border-radius: 6px;
}*/

/**
 * General Global Stuff.
 */
body {background:url("../images/bg_main.png") top left repeat-x #eee;margin: 0;padding: 0;font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;font-size: 75%;}

/*
 * Structure
 */
 
#masthead {height:130px;}
  #masthead #logo {height:100px;}
  #masthead #logo h1 a {line-height:100px;display:inline-block;}
  #masthead nav {height:30px;float:left;}

nav ul {margin:0 20px;line-height:30px;}
nav li {margin:0 20px 0 0;float:left;}
#quickjump #current {display:none;border:5px solid #ccc;}
#quickjump #current:hover {color:white;}
#quickjump #current span {display:block;border:5px solid red;}
#quickjump ul {display:none;}
#quickjump li {}

#log {margin: 20px 20px;}
  #log h1 {font-size:30px;line-height:30px;margin:20px 0;color:#939393;}
  #log #output {
    -webkit-box-shadow: 0 0 3px #cecece;
    background-color: white;
    padding: 10px;
  }

/*
 * Tails
 */

table#lines {height:300px;overflow:auto;display:block;}
table#lines td {white-space:nowrap;font:14px/26px monospace;padding: 0 6px 0 6px;}
table#lines tr:nth-child(odd) {background-color:#e9e9e9;}
table#lines tr:hover {background-color:#d8faff;}