*, html, body, div, dl, dt, dd, ul, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;font-weight:normal;}
caption, th {text-align:left;}
h1, h2, h3, h5, h5, h6 {font-size:100%;}
q:before, q:after {content:'';}
 
/* Global reset-RESET */
/* The below restores some sensible defaults */
strong {font-weight:bold;}
em {font-style:italic;font-weight:bold;}
ul, li {list-style-position:outside;list-style:none;}
ol li {list-style-position:inside;list-style:decimal;}
* a {position:relative;} /* Gets links displaying over a PNG background */
a {outline:none;} /* Gets rid of Firefox's dotted borders */
a img {border:none;} /* Gets rid of IE's blue borders */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 0px;
display: block;
background-color: transparent;
}
::-webkit-scrollbar-track:disabled {
    display: none;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #666;
-webkit-border-radius: 6px;
}*/

/**
 * General Global Stuff.
 */
body {background:url("../images/bg_main.png") top left repeat-x #eee;margin: 0;padding: 0;font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;font-size: 75%;}

/*
 * Structure
 */
 
#masthead {height:130px;}
  #masthead #logo {height:100px;}
  #masthead #logo h1 a {line-height:100px;display:inline-block;}
  #masthead nav {height:30px;float:left;}

nav ul {margin:0 20px;line-height:30px;}
nav li {margin:0 20px 0 0;float:left;}
#quickjump #current {display:none;border:5px solid #ccc;}
#quickjump #current:hover {color:white;}
#quickjump #current span {display:block;border:5px solid red;}
#quickjump ul {display:none;}
#quickjump li {}

#log {margin: 20px 20px;}
  #log h1 {font-size:30px;line-height:30px;margin:20px 0;color:#939393;display:inline-block;}
  #log a#new-tail {width:148px;height:40px;display:inline-block;background:url("../images/btn_new_tail.png") top left no-repeat;float:right;}
  #log #controls {background-color:#f7f7f7;height:60px;border-bottom:1px solid #ddd;position:relative;}
  #log #controls #start-tail,
  #log #controls #stop-tail {position:absolute;top: 10px;left: 10px;}
  #log #controls #new-tail {position:absolute;top: 10px;right: 10px;}
  #log #controls a span {display:block;margin-left:-9999px;}
    #log a#new-tail span {display:block;margin-left:-9999px;}
    #log #output{-webkit-box-shadow:0 0 3px #cecece;background-color:white;}
      #output #lines {margin:10px;}

/*
 * Tails
 */

#lines {height:300px;display:block;overflow:auto;}
#lines td {white-space:nowrap;font:14px/26px monospace;padding: 0 6px 0 6px;}
#lines tr:nth-child(odd) {background-color:#e9e9e9;}
#lines tr:hover {background-color:#d8faff;}

#start-tail {background:url("../images/btn_tail_play.png") top left no-repeat;width:36px;height:36px;display:block;}
#stop-tail {background:url("../images/btn_tail_pause.png") top left no-repeat;width:36px;height:36px;display:block;}

form.delete {display: inline;}

/*
 * Tails
 */
#tails {margin: 20px 20px;}
  #tails h1 {font-size:30px;line-height:30px;margin:20px 0;color:#939393;display:inline-block;}
  #tails a#new-tail {width:148px;height:40px;display:inline-block;background:url("../images/btn_new_tail.png") top left no-repeat;float:right;}
  #tails section{-webkit-box-shadow:0 0 3px #cecece;background-color:white;}

/*
 * Colorbox
 */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example Colorbox user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../images/colorbox/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/colorbox/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/colorbox/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/colorbox/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/colorbox/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(../images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/colorbox/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/colorbox/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/colorbox/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/colorbox/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/colorbox/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox//internet_explorer/borderMiddleRight.png, sizingMethod='scale');}
