{% extends "base.html" %}

{% block content %}
  <article id="log">
    <header>
      <h1>{{ server_tail.path }}</h1>
    </header>
    <section id="output">
      <table id="lines"></table>
    </section>
  </article>
{% endblock %}

{% block extra_body %}
    <a href="#" id="start-tail">Start</a>
    <a href="#" id="stop-tail" style="display: none">Stop</a>
    <script type="text/javascript" charset="utf-8">
        Tail.setup('{% url tail_data server_tail.boxed_id %}', '#lines');
        $(window).load(function() {
            setTimeout(Tail.start, 50);
        });
    </script>
{% endblock %}