{% extends "content_base.html" %}

{% block breadcrumb %}
  <li id="quickjump">
    <a href="#" id="current"><span>servertail.com &mdash; development.log</span></a>
    <ul>      
      <li><a href="#">servertail.com &mdash; development.log</a></li>
      <li><a href="#">servertail.com &mdash; production.log</a></li>
      <li><a href="#">servertail.com &mdash; test.log</a></li>
    </ul>
    </li>
{% endblock %}

{% block content %}
  <article id="log">
    <header>
      <h1>development.log</h1>
    </header>
    <section id="output">
      <table id="lines"></table>
    </section>
  </article>
{% endblock %}

{% block extra_body %}
    <a href="#" id="start-tail">Start</a>
    <a href="#" id="stop-tail" style="display: none">Stop</a>
    <script type="text/javascript" charset="utf-8">
        Tail.setup('{% url tail_data server_tail.boxed_id %}', '#lines');
        $(window).load(function() {
            setTimeout(Tail.start, 50);
        });
    </script>
{% endblock %}