{% extends "base.html" %}

{% block title %}My Tails &emdash; {{ block.super }}{% endblock %}

{% block content %}        
    <article id="tails" class="group">
      <section class="heading">
        <header>
          <h1>My Tails</h1>
        </header>
        <aside class="actions group">
          <a href="{% url tail_create %}" id="new-tail" class="tail-create"><span>New Tail</span></a>
        </aside>
      </section>

      <section class="content group">
            {% for tail in user.servertail_set.all %}
              <ul class="group">
                <li><a href="{{ tail.get_absolute_url }}">{{ tail.hostname }} &mdash; {{ tail.path }}</a>
                    <form method="POST" class="delete">
                        {% csrf_token %}
                        <input type="hidden" name="tail_id" value="{{ tail.id }}" />
                        <input type="submit" value="X" />
                    </form>
                </li>
              </ul>
            {% empty %}
                <div id="empty" class="group"><h2>Sadness...</h2>
                    <p>You don&rsquo;t seem to have any tails yet, why not
                    <a href="{% url tail_create %}" class="tail-create">create one now</a>?</p>
                </div>
            {% endfor %}
      </section>
    </article>
{% endblock %}