<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}ServerTail.com{% endblock %}</title>
		<link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" charset="utf-8"></script>
		{% block extra_head %}{% endblock %}
	</head>
	<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
	    <div id="container">
	        <div id="header">
    			<h1 id="logo">
    			    <a href="{% url index %}">Tail your server logs - ServerTail.com</a>
    			</h1>
    	        <div id="nav">
    	            <ul>
    	                <li><a href="{% url index %}">Home</a></li>
    	            </ul>
    	        </div>
    	    </div>
    	    <div id="content">
    	        {% block content %}{% endblock %}
    	    </div>
    	    <div id="footer">
    	        <ul>
	                <li><a href="{% url index %}">Home</a></li>
	            </ul>
	        </div>
	    </div>
	    {% block extra_body %}{% endblock %}
	</body>
</html>
