<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}ServerTail.com{% endblock %}</title>
  <link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tail.js" charset="utf-8"></script>
  {% block extra_head %}{% endblock %}
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <div id="container">
      <header>
          <h1 id="logo">
              <a href="{% url index %}">Tail your server logs - ServerTail.com</a>
          </h1>
          <div id="nav">
              <ul>
                  <li><a href="{% url index %}">Home</a></li>
              </ul>
          </div>
      </header>
      <section>
          {% block content %}{% endblock %}
      </section>
      <footer>
          <ul>
              <li><a href="{% url index %}">Home</a></li>
          </ul>
      </footer>
  </div>
  {% block extra_body %}{% endblock %}
</body>
</html>