<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}ServerTail.com{% endblock %}</title>
  <link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.colorbox-min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.globalstylesheet.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/global.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tail.js" charset="utf-8"></script>
  {% block extra_head %}{% endblock %}
  <!--[if IE]>
  <script src="{{ MEDIA_URL }}js/html5.js"></script>
  <![endif]-->
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  
  <div id="masthead">
    <header id="logo">
      {% if user.is_authenticated %}
            <a href="{% url tail_tails %}"><span>ServerTail.com</span></a>
      {% else %}
            <a href="{% url index %}"><span>ServerTail.com</span></a>
      {% endif %}
    </header>
    <aside id="utility">
      <ul>
      {% if user.is_authenticated %}  
        <li><a href="{% url logout %}?next={{ request.path }}">Logout</a></li>
      {% else %}
        <li><a href="{% url login %}?next={{ request.path }}">Login</a></li>
      {% endif %}
      </ul>
    </aside>
  </div>
  
  <nav id="breadcrumbs">
    <ul>
      <li><a href="{% url index %}"><span>Home</span></a></li>        
    {% if user.is_authenticated %}
      <li><a href="{% url tail_tails %}"><span>My Tails</span></a></li>
      {% if user.servertail_set.all.count %}
      <li id="quickjump"> 
        <select>
            <option>Jump to a tail...</option>
            {% for tail in user.servertail_set.all %}
                <option{% if not index %}{% if server_tail == tail %} selected="selected"{% endif %}{% endif %} value="{{ tail.get_absolute_url }}">{{ tail.hostname }} &ndash; {{ tail.path }}</option>
            {% endfor %}
        </select>
      </li>
      {% endif %}
    {% endif %}
    {% block breadcrumbs %}{% endblock %}
    </ul>
  </nav>

  {% block content %}{% endblock %}

  {% block extra_body %}{% endblock %}
  
    <footer id="credits">
        <div id="credits-content">
        <div id="contributors"><p>Servertail.com is brought to you by <a href="http://www.twitter.com/ericflo">Eric Florenzano</a> and <a href="http://www.twitter.com/adamkirkwood">Adam Kirkwood</a>.</div>
        <div id="about"><a href="http://www.servertail.com" class="servertail"><span>Servertail.com</span></a> is a <a href="http://www.djangodash.com">DjangoDash project</a></div>
        </div>
    </footer>
</body>
</html>