{% extends "base.html" %}

{% block body_id %}home{% endblock %}

{% block content %}

<div id="promotional">
    
    <div id="escalator">
        <div>
        <h1><span>Tailing your logs has never been easier.</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="{% url tail_create %}" class="tail-create" id="cta"><span>Try it for free!</span></a>
        <a href="{% url login %}" id="cta-reg"><span>Register for More!</span></a>
        </div>
    </div>
    
    <div id="supplementary" class="group">
        <ul class="group">
            <li><h2>Quick</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
            <li><h2>Easy</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
            <li><h2>Shareable</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p></li>
        </ul>
    </div>
    
    {% if server_tail %}
        <div id="example">
            <div>
                <h3>Look how cool it is!</h3>
                <table id="lines"></table>
            </div>
        </div>
    {% endif %}
    
</div>

{% endblock %}

{% block extra_body %}
    {% if server_tail %}
        <script type="text/javascript" charset="utf-8">
            Tail.setup('{% url tail_data server_tail.boxed_id %}', '#lines', false);
            $(window).load(function() {
                setTimeout(Tail.start, 50);
            });
        </script>
    {% endif %}
{% endblock %}