{% extends "base.html" %}

{% block body_id %}home{% endblock %}

{% block content %}

<div id="promotional">
    
    <div id="escalator">
        <div>
        <h1><span>Tailing your logs has never been easier.</span></h1>
        <p>ServerTail is a service which lets you <strong>quickly</strong> and <strong>easily</strong> see <strong>real time</strong> output of log files on your servers, with just a web browser! You can share the output of those log files with others, bookmark them for later, or sign up for easy access to the log files you look at most.  Want to know who&rsquo;s accessing your site, in real time? Just point us at your web server logs, and you&rsquo;ll wonder no more.</p>
        <a href="{% url tail_create %}" class="tail-create" id="cta"><span>Try it for free!</span></a>
        <a href="{% url login %}" id="cta-reg"><span>Register for More!</span></a>
        </div>
    </div>
    
    <div id="supplementary" class="group">
        <ul class="group">
            <li><h2>Quick &amp; Easy</h2><p>Simply type in a few details and you&rsquo;ll be instantly viewing the <strong>real time</strong> output of your server&rsquo;s log files. You&rsquo;ll be up and running in under a minute!</p></li>
            <li><h2>Universal</h2><p>Access your log files from <strong>anywhere</strong> including your mobile phone, an internet cafe, or your friend&rsquo;s laptop. No need to have a terminal or any other software &mdash; just a web browser.</p></li>
            <li><h2>Shareable</h2><p>The URL that we give you is unique, <strong>cannot be guessed</strong>, and will never change. You can feel free to share that URL to anyone or no one &mdash; the choice is yours to make.</p></li>
        </ul>
    </div>
    
    {% if server_tail %}
        <div id="example">
            <div>
                <h3>Look how cool it is!</h3>
                <table id="lines"></table>
            </div>
        </div>
    {% endif %}
    
</div>

{% endblock %}

{% block extra_body %}
    {% if server_tail %}
        <script type="text/javascript" charset="utf-8">
            Tail.setup('{% url tail_data server_tail.boxed_id %}', '#lines', false);
            $(window).load(function() {
                setTimeout(Tail.start, 50);
            });
        </script>
    {% endif %}
{% endblock %}